# macOS
.DS_Store

# Swift Package Manager
/.build
/Packages
Package.resolved

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# SwiftPM
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/

# Credentials
.netrc
